@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><img src="~/images/EBFondoNegro.png" width="75" height="75"/> Easy Buy CR</h1>
    <p class="lead">Easy Buy CR es una empresa que busca proporcionar al mercado costarricense la facilidad 
    de comprar en distintos lugares del país, con acceso a las mejores tiendas y sus respectivas ofertas.
    <a href="#" class="btn btn-green">Saber más &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Empresas</h2>
        <p>
            Registrate para que comiences a promocionar tu negocio.
        </p>
        <p><a class="btn btn-green" href="~/Account/Register">Registrarse</a></p>
    </div>
    <div class="col-md-4">
        <h2>Clientes</h2>
        <p>
            Registrate para comenzar a disfrutar de nuestro servicio.
        </p>
        <p><a class="btn btn-green" href="~/Account/Register">Registrarse</a></p>
    </div>
    <div class="col-md-4">
        <h2>Beneficios</h2>
        <p>
            Conoce como trabajamos y que beneficios podemos ofrecerte.
        </p>
        <p><a class="btn btn-green" href="~/Home/About">Saber más &raquo;</a></p>
    </div>
</div>