@model List<EasyBuy.Models.Producto>
@{
    ViewBag.Title = "Hombre";
}

<div class="container"><center><h2>Hombre</h2></center></div>

<div class="row">
    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked nav-cliente">
            <li role="presentation"><a class="active-blue" href="#"><b>Ropa</b></a></li>
            <li>
                <ul class="nav nav-pills nav-stacked nav-sub-cliente">
                    <li role="presentation"><a class="active-blue" href="#"><b>Abrigos</b></a></li>
                    <li role="presentation"><a href="#">Punto</a></li>
                    <li role="presentation"><a href="#">Camisas</a></li>
                    <li role="presentation"><a href="#">Camisetas</a></li>
                    <li role="presentation"><a href="#">Jeans</a></li>
                    <li role="presentation"><a href="#">Pantalones</a></li>
                </ul>
            </li>
            <li role="presentation"><a href="#">Calzado</a></li>
            <li role="presentation"><a href="#">Accesorios</a></li>
        </ul>
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="thumbnail thumbnail-blue">
                    <img src="~/images/Abrigos/abrigo1.jpg" alt="">
                    <div class="caption">
                        <h3>Abrigo negro</h3>
                        <a href="#" class="btn btn-white">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail thumbnail-blue">
                    <img src="~/images/Abrigos/abrigo2.jpg" alt="">
                    <div class="caption">
                        <h3>Abrigo negro</h3>
                        <a href="#" class="btn btn-white">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail thumbnail-blue">
                    <img src="~/images/Abrigos/abrigo3.jpg" alt="">
                    <div class="caption">
                        <h3>Abrigo negro</h3>
                        <a href="#" class="btn btn-white">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail thumbnail-blue">
                    <img src="~/images/Abrigos/abrigo4.jpg" alt="">
                    <div class="caption">
                        <h3>Abrigo negro</h3>
                        <a href="#" class="btn btn-white">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="thumbnail thumbnail-blue">
                    <img src="~/images/Abrigos/abrigo5.jpg" alt="">
                    <div class="caption">
                        <h3>Abrigo negro</h3>
                        <a href="#" class="btn btn-white">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail thumbnail-blue">
                    <img src="~/images/Abrigos/abrigo6.jpg" alt="">
                    <div class="caption">
                        <h3>Abrigo negro</h3>
                        <a href="#" class="btn btn-white">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail thumbnail-blue">
                    <img src="~/images/Abrigos/abrigo7.jpg" alt="">
                    <div class="caption">
                        <h3>Abrigo negro</h3>
                        <a href="#" class="btn btn-white">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail thumbnail-blue">
                    <img src="~/images/Abrigos/abrigo8.jpg" alt="">
                    <div class="caption">
                        <h3>Abrigo negro</h3>
                        <a href="#" class="btn btn-white">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="thumbnail thumbnail-blue">
                    <img src="~/images/Abrigos/abrigo9.jpg" alt="">
                    <div class="caption">
                        <h3>Abrigo negro</h3>
                        <a href="#" class="btn btn-white">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail thumbnail-blue">
                    <img src="~/images/Abrigos/abrigo10.jpg" alt="">
                    <div class="caption">
                        <h3>Abrigo negro</h3>
                        <a href="#" class="btn btn-white">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>