
@{
    ViewBag.Title = "Index";
}

<div class="div-homuj">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
                <h1 class="a-mujer"><a href="~/Cliente/Mujer" class="btn btn-white">Mujer</a></h1>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <h1 class="a-hombre text-right"><a href="~/Cliente/Hombre" class="btn btn-white">Hombre</a></h1>
            </div>
        </div>
    </div>
</div>