body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url("../images/stardust.png");
}


/* Set padding to keep content from hitting the edges */
.body-content {
    background-color:#eeeeee;
    opacity:0.95;
    height:100%;
}

.jumbotron {
    background-color: #333333;
    color: white;
}

.jumbotron h1{
    color: #53BF6B;
}

h1, h2, h3, h4, h5, h6 {
    color: #333333;
}

.brandColor {
    color: #53BF6B !important;
}

.brandColor:hover {
    color: #6FFF8F !important;
}

.btn-green {
    background-color: #53BF6B;
    color:white;
}

.btn-green:hover {
    background-color: #378047;
    color:white;
}

hr {
    border-color: #808080;
}

.panel-default-login {
    margin-top: 25%;
}

.txt-center{
    text-align:center;
}

.panel-body {
    background-color:#eeeeee;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
