@{
    ViewBag.Title = "Acerca de";
}

<div class="row">
    <div class="container">
        <div class="col-md-12">
            <h1><img src="~/images/EBazul.png" width="75" height="75" /> Easy Buy CR</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="container">
        <div class="col-md-12">
            <p class="lead" style="text-align:justify;">
                Es una aplicación donde las personas pueden ver diferentes tipos de artículos,
                mostrando los productos que se ofrecen en las diferentes tiendas y así que sea mucho más sencillo
                para el usuario conseguir el mejor precio.
            </p>

            <p class="lead" style="text-align:justify;">
                Además, esta aplicación va dirigido a todo tipo de consumidor que le interese obtener las mejores ofertas del mercado.
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="container">
        <div class="col-md-12">
            <h2>¿Como funciona?</h2>
            <p class="lead" style="text-align:justify;">
                Las empresas se podrán registrar en la aplicación, mostrar sus productos y colocar sus diferentes ofertas para que los clientes puedan verlas.
                También para las empresas las cuales quieran afiliarse a la aplicación lo podrán 
                hacer por un costo de $0.99, mientras que los clientes tendra un acceso gratuito. 
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="container">
        <div class="col-md-12">
            <h2>Historia</h2>
            <p class="lead" style="text-align:justify;">
                La idea surgió para el desarrollo de un proyecto de un curso de la Universidad,
                se tomó en cuenta a las personas que les gusta ir de compras y les resulta muy
                aburrido andar caminando de tienda en tienda viendo los diferentes precios de un mismo artículo,
                para así conseguir el mejor precio. Entonces se pensó en elaborar una aplicación en donde fuera fácil poder ver
                los diferentes artículos con unos precios en oferta y de buena calidad. Además de acceder a ellos a través de nuestra aplicación.
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="container">
        <div class="col-md-12">
            <h2>Estructura de la Aplicación</h2>
            <p class="lead" style="text-align:justify;">
                se utilizaron tecnologías de desarrollo HTML5, CSS , JS.
            </p>
        </div>
    </div>
</div>
