@{
    ViewBag.Title = "Contacto";
}

<div class="row">
    <div class="container">
        <div class="col-md-12">
            <h1><img src="~/images/EBazul.png" width="75" height="75" /> Easy Buy CR</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="container">
        <div class="col-md-12">
            <p class="lead" style="text-align:justify;">
                
                <strong>Dirección:</strong>
                    Provincia de Heredia, Heredia, Costa Rica<br />
                <strong>Teléfono:</strong> +506 2561 3363<br />


                 <strong>Support:</strong>   <a href="mailto:Support@example.com">Supporteasybuy@easybuy.com</a><br />
                 <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@easybuy.com</a>
</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="container">
        <div class="col-md-12">
            <p class="lead" style="text-align:justify;">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.2675580929804!2d-84.11918988565733!3d9.994743692854751!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0fadb57c257c9%3A0xb85bbecffbf56623!2sHeredia!5e0!3m2!1ses!2scr!4v1485556353888" width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" allowfullscreen></iframe>
                
            </p>
        </div>
    </div>
</div>

