
@{
    ViewBag.Title = "EmpresaIndex";
}

<div class="row">
    <div class="container">
        <div class="col-md-12">
            <h1><img src="~/images/EBazul.png" width="75" height="75" /> Easy Buy CR</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="container">
        <div class="col-md-12">
            <p class="lead">
               Empresa: @Session["NombreUsuario"]
            </p>
        </div>
    </div>
</div>
<div class="row row-blue">
    <div class="container">
        <div class="col-xs-6 col-sm-6 col-md-3">
            <img src="~/images/Company.png" class="img-responsive" style="margin-top:5px; margin-bottom:5px;" />
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3">
            
        </div>
       <div class="clearfix visible-xs visible-sm"></div>
        <div class="col-xs-6 col-sm-6 col-md-3">
        </div>
        <br />
         <div class="col-xs-6 col-sm-6 col-md-3">
             <hr />
            <a class="btn btn-white" href="~/Producto/">Registrar Productos</a>
             <hr />
            <a class="btn btn-white" href="~/Producto/ProductosInventario">Ver Productos Registrados</a>
          </div>
    </div>
</div>

